{% extends 'base1.html' %}
{% block head %}
<title>Task Master</title>
{% endblock %}
{% block body %}
<div class="content">
    <h1>Task Master</h1>
    <table>
        <tr>
            <th>Task</th>
            <th>Completed or/not</th>
            
            <th>Deadline</th>
            <th>Remaining data</th>
            <th>Created data</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <!-- Checkbox for completed -->
                <td>
                    <form action="/toggle/{{ task.id }}" method="POST">
                        <input type="checkbox" name="completed" onchange="this.form.submit()" {% if task.is_completed %}checked{% endif %}>
                    </form>
                </td>
                
                <td>{{ task.due_date }}</td>
                <td>
                    {% if task.days_remaining is none %}
                        <span style="color: gray;">Not set</span>
                    {% elif task.days_remaining  <= 0 %}
                        <span style="color: red;">Overdue!</span>
                    {% else %}
                        {{ task.days_remaining  }} day(s) left
                    {% endif %}
                </td>
                
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <form action="/" method="POST">
        <input type="text" name="content" id="content" placeholder="Enter task" required>
        <input type="date" name="due_date" required>
        <input type="submit" value="Add Task">
    </form>
</div>
{% endblock %}